<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Home</title>
    <link rel="stylesheet" href="/css/style.css">
</head>
<body>
<div class="container">
    <header>
        <div class="header-container">
            <h1><strong>Logo</strong></h1>
            <nav class="header-nav">
                <ul class="header-ul">
                    <li><a href="/">Home</a></li>
                    <li><a href="/perguntas">Pergunta</a></li>
                    <li><a href="/sobre">Sobre</a></li>
                </ul>
            </nav>
        </div>
    </header>
    <main>
        <section>
            <p>ainda em desenvolvimento</p>
        </section>
    </main>
</div>
</body>
</html>